html, body {
 
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.my-div {
  background-color: #011b39;
  min-height: 100vh;
}
.container-center {
  margin: 0 auto; /* Centers the container horizontally */
  padding-top: 50px; /* Adds some space from the top */
}
.divbtn{
  padding-bottom: 50px;
}
.card-title h2 {
  text-align: center; /* Center aligns the text */
  color: white;
}
.table thead th{
background-color: rgb(30, 157, 110);
color: white;
}